/** General Default Styles 1
 ------------------------------------------------------------*/
.ps-container {
    font-family: Arial,Verdana,sans-serif;
    color: #4a4a4a;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-overflow-scrolling: touch;
    text-rendering: optimizeLegibility;

    /*Sends rendering to the GPU by tricking browser into thinking we're 3D. Makes animations faster*/
    transform: translateZ(0);
    -moz-transform: translateZ(0);
    -webkit-transform: translateZ(0);
}
.ps-container * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    transition-duration: .2s;
    -o-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -webkit-transition-duration: .2s;
}
.ps-float-box {
    position: relative;
    float: left;
    text-align: left;
    margin: 0 0 0 0;
    padding: 0 0 0 0;

    width: 100%;
    height: auto;
}
.ps-wtb-container {
    height: 100%;
    background: #ebf8f9;
}
.ps-bold-text {
    font-family: Arial, sans-serif;
    font-weight: 700;
}
.ps-container ::-ms-clear {
    display: none;
}
.ps-container svg {
    pointer-events: none;
}
.ps-container button, .ps-container button:focus, .ps-container select, .ps-container input, .ps-container input:focus {
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.ps-container input {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.ps-container a {
    outline:none;
    border:none;
}
input.ps-tab-input-online, input.ps-tab-input-local {
  display: none;
}

/*Placeholder styles*/
input.ps-map-location-textbox[type="text"]::-webkit-input-placeholder {
    color:  #999;
    font-weight: 400;
}
input.ps-map-location-textbox[type="text"]:-moz-placeholder {
    color:  #999;
    font-weight: 400;
    opacity:  1;
}
input.ps-map-location-textbox[type="text"]::-moz-placeholder {
    color:  #999;
    font-weight: 400;
    opacity:  1;
}
input.ps-map-location-textbox[type="text"]:-ms-input-placeholder {
    color:   #999;
    font-weight: 400;
}
input.ps-map-location-textbox[type="text"]::-ms-clear {
    display: none;
}
/*remove select highlight on IE */
input.ps-map-location-textbox[type="text"]:focus::-ms-value{
    background-color: transparent;
}

@media screen and (max-width:1024px) {
    .ps-wtb-container {
        height: auto;
    }
}

/** Lightbox Styles 1
 ------------------------------------------------------------*/
.ps-lightbox {
    position: fixed;
    top: 10%;
    left: 0;
    right: 0;
    width: 980px;
    max-height: 700px;
    height: 80%;
    min-height: 530px;
    padding:0 0 0 0;
    margin:0 auto;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
    z-index: 9012 !important;
    display: none;
}
#ps-lightbox-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: black;
    opacity:.70;
    filter: alpha(opacity=70);
    transition:.2s opacity, 0s z-index;
    -moz-transition:.2s opacity, 0s z-index;
    -webkit-transition:.2s opacity, 0s z-index;
    z-index: 9011 !important;
    display: none;
}
button.ps-lightbox-close {
    display: none;
}
.ps-lightbox-close svg {
    width: 11px;
    height: 11px;
    opacity: 0.75;
}

/******** Tablet: Lightbox Styles */
@media screen and (max-width:1024px) {
    .ps-lightbox {
        top: 0;
        bottom: 0;
        width: 100%;
        height: auto;
        max-height: none;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        overflow: auto;
        box-shadow: none;
    }
    .ps-lightbox-close {
        top: 20px;
        right: 20px;
    }
    .ps-lightbox-close svg {
        opacity: 1;
    }
}
/******** Mobile: Lightbox Styles */
@media screen and (max-width:767px) {
    .ps-lightbox {
        position: absolute;
        min-height: 0;
    }
    #ps-lightbox-background {
        opacity: 1;
        background: #333;
    }
}

/** Header Styles 1
 ------------------------------------------------------------*/
.ps-header-container {
  padding: 20px;
  width: 100%;
  height: 145px;
  background: #fff;
}
.ps-online-container {
  width: 45%;
}
.ps-online-section {
  width: 100%;
}
.ps-lightbox-close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 25px;
  height: 25px;
  background: #03a9f4;


  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;


  /*aligns in a line*/
  display: flex;
  /*centers veritcally - use when you have multiple items in something*/
  align-items: center;
  /*brings everything into center*/
  justify-content: center;

}

.ps-lightbox-close path {
  fill: #fff;
}

.ps-header-content {
  position: relative;
  float: left;
  width: 100%;
  height: 100%;
}

.ps-wtb-label {
  color: #03a9f4;
  padding-top: 20px;
  padding-left: 120px;
  margin-bottom: 10px;

}

.ps-header-container img {
  width: 100px;
  height: auto;
  float: left;
  box-shadow: 0px 3px 7px 0px rgba(46,46,46,0.2);
}

.ps-product-details {
  font-size: 22px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding-left: 20px;
  font-weight: bold;
}

.ps-column-headers {
  width: 100%;
  height: 66px;
  background: #03a9f4;
}

.ps-online-tab-label {
  font-size: 22px;
  color: white;
  font-weight: bold;
  display: block;
  float: left;
  width: 45%;
  padding: 22px 0px 0px 22px;
}

.ps-local-tab-label {
  font-size: 22px;
  color: white;
  font-weight: bold;
  display: block;
  float: left;
  width: 55%;
  padding: 22px 0px 0px 28px;
}

.ps-map-control {
  position: absolute;
  top: 0;
  right: 20px;
  width: 250px;
  height: 100%;
  padding: 10px 0px;
}

.ps-input-holder {
  width: 100%;
  height: 100%;
}

svg {
  height: 11px;
  width: 11px;
}
.ps-map-location-textbox {
  padding-left: 36px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  font-size: 17px;
  position: relative;
  float: left;
}

.ps-map-geolocation-button {
  position: absolute;
  background: transparent;
  outline: none;
  width: 20px;
}
.ps-mag-icon {
  position: absolute;
  top: 16px;
  right: 10px;
}

.ps-mag-icon svg {
  width: 15px;
  height: 15px;
  color: grey;
  fill: currentColor;
}

.ps-error-icon {
  display:none;
}

.ps-map-geolocation-button {
  left: 10px;
  top: 16px;
  border: none;
}
.ps-map-geolocation-button svg {
  width: 13px;
  height: 13px;
  color: red;
  fill: currentColor;
}

.ps-online-seller-select {

  background: white;
  width: 100%;
  height: 74px;

}

.ps-online-seller-listing-cell img {
  width: 100px;
  height: 32px;
  margin-left: 20px;
}

.ps-online-seller-select.ps-online-seller-listing {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 3px 7px 0px rgba(46,46,46,0.2);
  margin: 10px 10px -2px 10px;
}

.ps-seller-error-name {
  display:none;
}

.ps-online-seller-listing-cell.ps-online-price-cell {
  margin-left: 35px;
}

.ps-online-seller-listing-cell.ps-online-buy-cell {
  right: 4%;
  width: 25%;
}

.ps-in-stock {
  color: green;
  font-size: 14px;
}

.ps-in-stock svg {
  fill: currentColor;
}

.ps-online-buy-button {
  background-color: #ff2000;
  color: white;
  font-weight: bold;
  width: 65px;
  height: 35px;
  border: none;
  box-shadow: 0px 3px 7px 0px rgba(46,46,46,0.2);
}

/*local section*/
.ps-local-container {
  width: 55%;
  height: auto;
  padding: 10px 10px 10px 20px;
}

.ps-local-sellers {
  height: 230px;
  overflow: auto;
  padding: 0px 8px 0 0px;
  margin-top: 8px;
}

.ps-map-holder {
  width: 100%;
  height: 178px;
  background-color: white;
  box-shadow: 0px 3px 7px 0px rgba(46,46,46,0.2);
}

.ps-map-pushpin-select.ps-float-box {
  background-color: white;
  padding: 10px;
  margin: 10px 10px -2px 0px;
  height: 140px;
  width: 100%;
  box-shadow: 0px 3px 7px 0px rgba(46,46,46,0.2);
}

.ps-local-left-mobile {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ps-pushpin-wrapper img {
  width: 20px;
  height: 30px;
  position: absolute;
  top: 20px;
  left: 20px;
}

.ps-store-hours{
    position: absolute;
    right: 20px;
    bottom: 15px;
    height: 20px;
    overflow: hidden;
    color: #144e7d;
    font-size: 15px;
}
.ps-distance {
    position: absolute;
    right: 20px;
    top: 18px;
    font-weight: normal;
    font-size: 20px;
}

.ps-local-section span, .ps-local-section .ps-in-stock {
  position: absolute;
  bottom: 15px;
  left: 20px;
}

.ps-local-seller-logo img {
  position: absolute;
  top: 20px;
  left: 56px;
}

.ps-address {
  position: absolute;
  left: 168px;
  top: 20px;
  font-size: 15px;
  width: 185px;
}
.ps-get-directions-button {
  position: absolute;
  left: 168px;
  bottom: 15px;
  color: #03a9f4;
  fill: currentColor;
}

.ps-get-directions-button svg{
  width: 13px;
  height: 13px;
}
.ps-phone-icon {
  display: none;
}
.ps-get-directions-button.ps-tablet {
  display:none;
}
/*local availability*/
.ps-local-availability {
  display: none;
}

/*Footer*/
.ps-footer-panel {
  width: 100%;
  height: 53px;
  background-color: rgba(158, 158, 158, 0.42);
  display: flex;
  align-items: center;
  font-size: 11px;
  font-weight: bold;
  padding-left: 20px;
  box-shadow: 0px 0px 10px 0px rgba(46,46,46,0.2);
}
.ps-copyright {
  color: grey;
}
.ps-copyright a {
  text-decoration: none;
  color: grey;
}

.ps-footer-logo a svg {
  width: 135px;
  height: auto;
  padding-top: 8px;
  margin-right: 20px;
}

/***** Media queries *****/

/*tablet, max-width 1024*/
@media screen and (max-width: 1024px) {



  .ps-local-container.ps-local-tab {
    display: none;
  }
  .ps-online-container {
    width: 100%;
    padding: 0 20px 10px 0;
  }
  .ps-online-tab-label {
    width: 20%;
  }

  .ps-online-seller-listing-cell.ps-online-price-cell {
    margin-left: 90px;
  }
}

/*phone, max-width 767px*/
@media only screen and (max-width: 767px) {
  .ps-wtb-label {
    padding: 0;
    margin: 0;
    text-align: center;
    position: relative;
    right: 7%;
    font-size: 12px;
    bottom: 10px;
  }
  .ps-product-details {
    position: absolute;
    font-size: 15px;
    top: 120%;
    left: 15%;
  }
  .ps-header-container {
    height: 165px;
  }
  .ps-header-container img {
    width: 70px;
    height: 70px;
    position: relative;
    left: 43%;
    margin-top: 22px;
  }
  .ps-column-headers {
    width: 100%;
    height: 125px;
    background: none;
  }
  .ps-online-tab-label, .ps-local-tab-label {
    width: 50%;
    height: 42px;
    position: absolute;
    top: 50%;
    background: #03a9f4;
    line-height: 2px;
    font-size: 16px;
  }
  .ps-local-tab-label {
    left: 50%;
  }
  .ps-input-holder {
    height: 30px;
    margin-top: 2%;
  }
  .ps-map-control {
    width: 95%;
    position: absolute;
    left: 3%;
    padding: 4px 0;
  }
  .ps-mag-icon, .ps-map-geolocation-button {
    top: 7px;
  }
  .ps-online-seller-select.ps-online-seller-listing {
    margin: -12px 10px 18px 10px;
    height: 94px;
  }
  .ps-online-seller-listing-cell.ps-online-price-cell {
    position: absolute;
    font-size: 11px;
    bottom: 6px;
    left: 38px;
    margin: 0;
  }
  .ps-online-seller-listing-cell img {
    width: 70px;
    height: 22px;
    position: absolute;
    left: 8px;
    bottom: 2px;
  }
  .ps-online-buy-button {
    width: 50px;
    height: 28px;
    position: absolute;
    top: 5px;
    right: -2%;
  }
  .ps-online-seller-listing-cell.ps-online-availability-cell {
    position: absolute;
    left: 80%;
    top: 16px;
  }
  .ps-in-stock {
    font-size: 12px;
  }
  .ps-in-stock svg {
    height: 9px;
    width: 9px;
  }
  .ps-lightbox-close {
    width: 17px;
    height: 17px;
    top: 12px;
  }
  .ps-lightbox-close svg {
    width: 7px;
    height: 7px;
  }
}
