/** General Default Styles 1
 ------------------------------------------------------------*/
.ps-container {
    font-family: Arial,Verdana,sans-serif;
    color: #4a4a4a;
    font-size: 13px;
    font-weight: 400;
    line-height: 18px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-overflow-scrolling: touch;
    text-rendering: optimizeLegibility;

    /*Sends rendering to the GPU by tricking browser into thinking we're 3D. Makes animations faster*/
    transform: translateZ(0);
    -moz-transform: translateZ(0);
    -webkit-transform: translateZ(0);
}
.ps-container * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    transition-duration: .2s;
    -o-transition-duration: .2s;
    -moz-transition-duration: .2s;
    -webkit-transition-duration: .2s;
}
.ps-float-box {
    position: relative;
    float: left;
    text-align: left;
    margin: 0 0 0 0;
    padding: 0 0 0 0;

    width: 100%;
    height: auto;
}
.ps-wtb-container {
    height: 100%;
    background: #ebf8f9;
}
.ps-bold-text {
    font-family: Arial, sans-serif;
    font-weight: 700;
}
.ps-container ::-ms-clear {
    display: none;
}
.ps-container svg {
    pointer-events: none;
}
.ps-container button, .ps-container button:focus, .ps-container select, .ps-container input, .ps-container input:focus {
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.ps-container input {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.ps-container a {
    outline:none;
    border:none;
}
input.ps-tab-input-online, input.ps-tab-input-local {
  display: none;
}

/*Placeholder styles*/
input.ps-map-location-textbox[type="text"]::-webkit-input-placeholder {
    color:  #999;
    font-weight: 400;
}
input.ps-map-location-textbox[type="text"]:-moz-placeholder {
    color:  #999;
    font-weight: 400;
    opacity:  1;
}
input.ps-map-location-textbox[type="text"]::-moz-placeholder {
    color:  #999;
    font-weight: 400;
    opacity:  1;
}
input.ps-map-location-textbox[type="text"]:-ms-input-placeholder {
    color:   #999;
    font-weight: 400;
}
input.ps-map-location-textbox[type="text"]::-ms-clear {
    display: none;
}
/*remove select highlight on IE */
input.ps-map-location-textbox[type="text"]:focus::-ms-value{
    background-color: transparent;
}

@media screen and (max-width:1024px) {
    .ps-wtb-container {
        height: auto;
    }
}

/** Lightbox Styles 1
 ------------------------------------------------------------*/
.ps-lightbox {
    position: fixed;
    top: 10%;
    left: 0;
    right: 0;
    width: 980px;
    max-height: 700px;
    height: 80%;
    min-height: 530px;
    padding:0 0 0 0;
    margin:0 auto;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.15);
    z-index: 9012 !important;
    display: none;
}
#ps-lightbox-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: black;
    opacity:.70;
    filter: alpha(opacity=70);
    transition:.2s opacity, 0s z-index;
    -moz-transition:.2s opacity, 0s z-index;
    -webkit-transition:.2s opacity, 0s z-index;
    z-index: 9011 !important;
    display: none;
}
button.ps-lightbox-close {
    display: none;
}
.ps-lightbox-close svg {
    width: 11px;
    height: 11px;
    opacity: 0.75;
}

/******** Tablet: Lightbox Styles */
@media screen and (max-width:1024px) {
    .ps-lightbox {
        top: 0;
        bottom: 0;
        width: 100%;
        height: auto;
        max-height: none;
        padding: 0 0 0 0;
        margin: 0 0 0 0;
        overflow: auto;
        box-shadow: none;
    }
    .ps-lightbox-close {
        top: 20px;
        right: 20px;
    }
    .ps-lightbox-close svg {
        opacity: 1;
    }
}
/******** Mobile: Lightbox Styles */
@media screen and (max-width:767px) {
    .ps-lightbox {
        position: absolute;
        min-height: 0;
    }
    #ps-lightbox-background {
        opacity: 1;
        background: #333;
    }
}

/** Header Styles 1
 ------------------------------------------------------------*/
.ps-header-container {
  height: 150px;
  background: #fff;
}
.ps-header-container img {
  width: 110px;
  height: 110px;
  position: absolute;
  top: 20px;
  left: 20px;
  box-shadow: 0px 3px 7px 0px rgba(46, 46, 46, 0.2);
}
.ps-lightbox-close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 25px;
  height: 25px;
  padding: 7px 0 0;
  text-align: center;
  border-radius: 50%;
  background: #19a5dc;
}
.ps-lightbox-close svg {
  fill: #fff;
}
.ps-product-details {
  font-size: 22px;
  font-weight: 700;
  line-height: 22px;
  width: 84%;
  margin-left: 160px;
  margin-top: 60px;
}
.ps-wtb-label {
  color: #4dbeed;
  line-height: 13px;
  padding-bottom: 9px;
  position: absolute;
  top: 35px;
  left: 160px;
}
.ps-column-headers {
  height: 60px;
  background: #19a5dc;
  box-shadow: 0px 1px 5px 0px rgba(46, 46, 46, 0.2);
  display: flex;
  align-items: center;
}
.ps-online-tab-label {
  width: 480px;
  padding: 0 0 0 20px;
}
.ps-online-tab-label, .ps-local-tab-label {
  position: relative;
  float: left;
  display: flex;
  align-items: center;
  height: 49px;
  color: #fff;
  font-size: 22px;
  font-weight: 700;
  text-align: left;
  line-height: 20px;
  margin: 0;
}
